{% extends "admin/change_list.html" %}
{% load i18n %}

{% block extrahead %}
{{ block.super }}
<style>
    .pos-btn {
        background-color: #28a745 !important;
        color: white !important;
        padding: 9px !important;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.15s;
    }

    .pos-btn:hover {
        background-color: #218838 !important;
    }
</style>
{% endblock %}

{% block object-tools-items %}
{{ block.super }}
<li style="list-style-type: none;">
    <a href="{% url 'inventory:pos' %}" class="addlink pos-btn">
        <i class="fa fa-plus-circle p-1"></i>
        Add sale with barcode
    </a>
</li>
{% endblock %}